body {
    font-family: "Josefin Slab", serif;
    background-image: url(./images/travelworld.jpg);
  }

  .wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }
  
  h1 {
    background-color: white;
    color: rgb(27, 60, 122);
    border-radius: 5px;
  }
  
  p {
    background-color: white;
    color: rgb(27, 60, 122);
    border-radius: 5px;
  }

  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  
  .scores {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .scores a {
    color: white;
  }
  
  .feedback {
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: white;
    border-top: 2px solid rgb(201, 193, 193);
  }
  
  .timer {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
  }
  
  #questions {
    color: white;
  }

  #end-screen{
    color: white;
  }
  
  a {
    color: white;
    text-decoration: none;
    transition: color 0.1s;
  }
  
  a:hover {
    color: #70707a;
  }
  
  button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: rgb(27, 60, 122);
    border-radius: 5px;
    padding: 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
  }
  
  button:hover {
    background-color: rgb(59, 106, 194);
  }
  
  .choices button {
    display: block;
  }
  
  input[type="text"] {
    font-size: 100%;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #dfdae7;
  }